<section class="associated-attributes">

  <h1>Associated Attributes - Gallery</h1>

  <% @associated_attrs.each do |attr| %>
    <% if attr.associated_endpoints.include?("Gallery") %>
      <div class="attribute-item">
        <div class="attribute-title">
          <h1><%= attr.attr_title %></h1>
        </div>
        <% if attr.general_info.present? %>
        <div class="attribute-info">
          <p><strong>General Info:</strong> <%= attr.general_info %></p>
        </div>
        <% end %>
        <% if attr.gallery_info.present? %>
        <div class="attribute-gallery-info">
          <strong>Gallery Info:</strong> <%= attr.gallery_info %>
        </div>
        <% end %>
        <% if attr.product_info['Gallery'].present? %>
          <div class="attribute-product-info"  id="productSection">
            <% attr.product_info['Gallery'].each do |key, value| %>
              <div class="product-item">
                <% if File.exist?(Rails.root.join('app/assets/images', "#{key}.png")) %>
                  <%= image_tag "#{key}.png", alt: "#{key} Image" %>
                <% end %>
                <strong><%= key %></strong> 
                <div class="product-value">
                  <% if value.is_a?(Array) %>
                    <%= value.join("<br>").html_safe %>
                  <% else %>
                    <%= value %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</section>