<section class="filter">
  <h3>Product Associations</h3>
  <%= form_with url: company_path, method: :get, local: true do %>
  <div class="product-filter">
    <% if @product_keys.any? %>
      <% @product_keys.each do |product| %>
        <label>
          <%= check_box_tag 'products[]', product, params[:products]&.include?(product) %>
          <%= product %>
        </label>
      <% end %>
    <% else %>
      <p>No products available for Company.</p>
    <% end %>
    <%= submit_tag "Filter" %>
  </div>
  <% end %>

</section>

<section class="associated-attributes">

  <% @associated_attrs.each do |attr| %>
    <% if attr.associated_endpoints.include?("Company") %>
      <div class="attribute-item">
        <div class="attribute-title">
          <h1><%= attr.attr_title %></h1>
        </div>
        <% if attr.general_info.present? %>
        <div class="attribute-info">
          <p><strong>General Info:</strong> <%= attr.general_info %></p>
        </div>
        <% end %>
        <% if attr.company_info.present? %>
        <div class="attribute-company-info">
          <strong>Company Info:</strong> <%= attr.company_info %>
        </div>
        <% end %>
        <% if attr.product_info['Company'].present? %>
          <div class="attribute-product-info"  id="productSection">
            <% attr.product_info['Company'].each do |key, value| %>
              <div class="product-item">
                <% if File.exist?(Rails.root.join('app/assets/images', "#{key}.png")) %>
                  <%= image_tag "#{key}.png", alt: "#{key} Image" %>
                <% end %>
                <strong><%= key %></strong> 
                <div class="product-value">
                  <% if value.is_a?(Array) %>
                    <%= value.join("<br>").html_safe %>
                  <% else %>
                    <%= value %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</section>