<h1>Associated Attributes - Company</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>General Info</th>
      <th>Company Info</th>
      <th>Product Info</th>
    </tr>
  </thead>
  <tbody>
    <% @associated_attrs.each do |attr| %>
      <% if attr.associated_endpoints.include?("Company") %>
        <tr>
          <td><%= attr.attr_title %></td>
          <td><%= attr.general_info %></td>
          <td><%= attr.company_info %></td>
          <% if attr.product_info['Company'].present? %>
            <td>
              <% attr.product_info['Company'].each do |key, value| %>
                <% if File.exist?(Rails.root.join('app/assets/images', "#{key}.png")) %>
                  <%= image_tag "#{key}.png", alt: "#{key} Image" %>
                <% end %>
                <strong><%= key %><br></strong> 
                <% if value.is_a?(Array) %>
                  <%= value.join("<br>").html_safe %>
                <% else %>
                  <%= value %>
                <% end %>

                <br><br>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>

</table>