<h1>Associated Attributes - LeadSource</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>General Info</th>
      <th>LeadSource Info</th>
      <th>Product Info</th>
    </tr>
  </thead>
  <tbody>
    <% @associated_attrs.each do |attr| %>
    <% if attr.associated_endpoints.include?("LeadSource") %>
    <tr>
      <td><%= attr.attr_title %></td>
      <td><%= attr.general_info %></td>
      <td><%= attr.leadsource_info %></td>
      <% if attr.product_info['LeadSource'].present? %>
      <td>
      <% attr.product_info['LeadSource'].each do |key, value| %>
        <strong><%= key %>:</strong> 
        <% if value.is_a?(Array) %>
        <%= value.join("<br>").html_safe %>
        <% else %>
        <%= value %>
        <% end %>
        <br><br>
        <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>