    <li><%= link_to "ActionLog", actionlog_path %></li>
    <li><%= link_to "Agent", agent_path %></li>
    <li><%= link_to "Brand", brand_path %></li>
    <li><%= link_to "BuyerTransaction", buyertransaction_path %></li>
    <li><%= link_to "Company", company_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "EmailCampaign", emailcampaign_path %></li>
    <li><%= link_to "Event", event_path %></li>
    <li><%= link_to "Gallery", gallery_path %></li>
    <li><%= link_to "Group", group_path %></li>
    <li><%= link_to "LeadSource", leadsource_path %></li>
    <li><%= link_to "Listing", listing_path %></li>
    <li><%= link_to "Office", office_path %></li>
    <li><%= link_to "PresentationLog", presentationlog_path %></li>
    <li><%= link_to "SellerTransaction", sellertransaction_path %></li>
    <li><%= link_to "SoldListing", soldlisting_path %></li>
    <li><%= link_to "Task", task_path %></li>
    <li><%= link_to "Team", team_path %></li>
    <li><%= link_to "WebUser", webuser_path %></li>